{{define "content"}}
    <ul>
        {{range $k, $project := .Data.Projects}}
            <li><a href="projects/{{$project.ID}}">{{$project.Name}} - {{$project.Description}}</a></li>
        {{end}}
    </ul>
{{end}}
