{{define "content"}}
<h1>Bugs for Feature - {{.Data.Name}}</h1>

<div>
    <a href="/projects/{{.Data.ProjectID}}/features">Back to features</a>
</div>

<ul>
    {{range $k, $bug := .Data.Bugs}}
        <li><a href="/bugs/{{$bug.ID}}">{{$bug.Name}} - {{$bug.Description}}</a></li>
    {{end}}
</ul>
{{end}}
