{{define "main_layout"}}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ .Title }}</title>
        <link href="/resources/bundle.css" rel="stylesheet">
    </head>
    <body>
        <main role="main" class="flex-shrink-0">
            <div class="container">
                {{template "content" . }}
            </div>
        </main>
        <script src="/resources/bundle.js"></script>
    </body>
</html>
{{end}}
