{{define "content"}}

<h1>Features for Project - {{.Data.Name}}</h1>

<div>
    <a href="/projects/{{.Data.ID}}">Back to project</a>
</div>

<ul class="list-group">
    {{range $k, $feature := .Data.Features}}
        <li class="list-group-item"><a href="/features/{{$feature.ID}}">{{$feature.Name}} - {{$feature.Description}}</a></li>
    {{end}}
</ul>
{{end}}

