.developer_demo {
    background: #007bff !important;
}

.manager_demo {
    background: #ffc107 !important;
}

.admin_demo {
    background: #28a745 !important;
}

.list-group-flush.split {

    display: flex;
    flex-flow: row wrap;

    li:nth-of-type(odd) {
        margin-right: 4%;
    }

    .list-group-item {
        flex: 1 0 45%;

        max-width: 45%;
        .form-group {
            margin: 0;
        }
    }
}

.list-group-item.with-actions {
    display: flex;
    align-items: center;

    > .actions {
        margin-left: auto;
        display: flex;
        flex-flow: row nowrap;

        > * {
            margin-left: 1rem;
        }
    }

    > .details {
        display: flex;
        align-items: center;
        margin-left: auto;

        + .actions {
            margin-left: 2rem;
        }

        > *:nth-last-child(n+2) {
            padding-right: 0.5rem;
            margin-right: 0.5rem;
            border-right: 1px solid #ddd;
        }
    }
}

.card-header {
    display: flex;
    align-items: center;

    > .actions {
        margin-left: auto;
    }
}


