{{define "content"}}

    <section>
        <header>
        </header>
        <div>
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="/admin/users">Manage Users</a>
                </li>
                <li class="list-group-item">
                    <a href="/admin/roles">Manage Roles</a>
                </li>
            </ul>

        </div>
    </section>



{{end}}
