{{define "content"}}
<h1>Stories for Feature - {{.Data.Name}}</h1>

<div>
    <a href="/projects/{{.Data.ProjectID}}/features">Back to features</a>
</div>

<ul>
    {{range $k, $story := .Data.Stories}}
        <li><a href="/stories/{{$story.ID}}">{{$story.Name}} - {{$story.Description}}</a></li>
    {{end}}
</ul>
{{end}}
