<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>User</title>
    </head>
    <body>

        <h1>User - {{.User.Name}}</h1>

        <ol>
            <li>Username: {{.User.Username}}</li>
            <li>Email: {{.User.Email}}</li>
            <li>Created at: {{.User.CreatedAt}}</li>
            <li>Updated at: {{.User.UpdatedAt}}</li>
            <li>Last Login: {{.User.LastLogin}}</li>
        </ol>
    </body>
</html>
